#waybar{
	color:rgb(176,176,176);
	/*	background:#0a0a0a;*/
	background:none
}
#workspaces button{
	color:#a0a0a0;
	margin:0 3px;	
	border:1px solid #a0a0a0;
}
#workspaces button:first-child{
	margin-left: 0;
}
#workspaces button.active{
	background:#a0a0a0;
/*	color:#0a0a0a;*/
	color:#000;
	border:1px solid rgb(176,176,176);
}
#workspaces button:hover{
	background:#a0a0a0;
	color:#000;
	border:1px solid rgb(176,176,176);
}
/*
#workspaces button.empty{
color:#aaa;
}
 */
#clock{
	margin-right: 10px;
	font-size: 0.8em;
	padding: 2px;
}
#network{
	padding: 2px;
	margin-right: 10px;
	font-size: 1.2em;
}
#window{

}
#battery.full{
	color:#00f;
}
#battery.warning{
	color:#f80;
}
#battery.critical{
	color:#f00;
}
#battery.charging{
	color:#0f0;
}
